.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.gallery-heading {
  text-align: center;
  margin-bottom: 20px;
}
.image-wrapper {
  position: relative;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-wrapper:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.gallery-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.1);
}
.modify-link {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.modify-link:hover {
  background-color: rgba(255, 255, 255, 1);
}
