.upload-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.image-container {
  position: relative;
  margin-top: 20px;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.base-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  cursor: move;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.buttons button:hover {
  background-color: #0056b3;
}
